<!-- <div (click)="logger()" class="book-cover">
  <img src="{{ path }}" class="cover-img" alt="" />
  <h2 class="book-title">{{ book.title }}</h2>
  <h3 *ngIf="book.authors" class="book-author">{{ book.authors[0] }}</h3>
</div> -->

<mat-card (click)="logger()">
  <mat-spinner *ngIf="!book"></mat-spinner>
  <mat-card-title-group class="book-cover">
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="book.authors">{{
      book.authors[0]
    }}</mat-card-subtitle>
    <img mat-card-sm-image class="cover-img" src="{{ path }}" />
  </mat-card-title-group>
  <mat-card-content></mat-card-content>
</mat-card>

<!-- <mat-card-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident,
  harum distinctio molestiae est incidunt quae corporis nesciunt ut sapiente
  vel rem nihil recusandae, accusamus tenetur exercitationem, quibusdam ab
  tempora!
</mat-card-content> -->
